In [30]:
import pandas as pd

df = pd.read_parquet("../anbima_data.parquet")
df

       BondType ReferenceDate MaturityDate  IndicativeRate
0           LFT    2007-01-02   2007-01-10        -0.00015
1           LFT    2007-01-02   2007-01-17       -0.000149
2           LFT    2007-01-02   2007-02-14       -0.000154
3           LFT    2007-01-02   2007-02-21        -0.00015
4           LFT    2007-01-02   2007-03-14       -0.000148
...         ...           ...          ...             ...
221080    NTN-F    2025-01-10   2027-01-01        0.153858
221081    NTN-F    2025-01-10   2029-01-01         0.15463
221082    NTN-F    2025-01-10   2031-01-01        0.153909
221083    NTN-F    2025-01-10   2033-01-01        0.151944
221084    NTN-F    2025-01-10   2035-01-01          0.1506

[221085 rows x 4 columns]

In [ ]:
min_date = df["ReferenceDate"].min()
df_new = pd.read_parquet("...")[df.columns]
df = (
    pd.concat([df, df_new])[df.columns]
    .drop_duplicates()
    .sort_values(["ReferenceDate", "BondType"])
    .query("ReferenceDate >= @min_date")
    .reset_index(drop=True)
)
df

       BondType ReferenceDate MaturityDate  IndicativeRate
0           LFT    2007-01-02   2007-01-10        -0.00015
1           LFT    2007-01-02   2007-01-17       -0.000149
2           LFT    2007-01-02   2007-02-14       -0.000154
3           LFT    2007-01-02   2007-02-21        -0.00015
4           LFT    2007-01-02   2007-03-14       -0.000148
...         ...           ...          ...             ...
228096    NTN-F    2025-03-11   2027-01-01        0.145374
228097    NTN-F    2025-03-11   2029-01-01        0.146104
228098    NTN-F    2025-03-11   2031-01-01        0.147977
228099    NTN-F    2025-03-11   2033-01-01        0.147332
228100    NTN-F    2025-03-11   2035-01-01          0.1477

[228101 rows x 4 columns]

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228101 entries, 0 to 228100
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   BondType        228101 non-null  string
 1   ReferenceDate   228101 non-null  datetime64[ns]
 2   MaturityDate    228101 non-null  datetime64[ns]
 3   IndicativeRate  228101 non-null  Float64
dtypes: Float64(1), datetime64[ns](2), string(1)
memory usage: 7.2 MB

In [21]:
rdate = pd.to_datetime("03-01-2024", dayfirst=True)
df.query("ReferenceDate == @rdate").reset_index(drop=True)

   BondType ReferenceDate MaturityDate  IndicativeRate
0       LFT    2024-01-03   2024-03-01        -0.00016
1       LFT    2024-01-03   2024-09-01       -0.000137
2       LFT    2024-01-03   2025-03-01        0.000014
3       LFT    2024-01-03   2025-09-01        0.000162
4       LFT    2024-01-03   2026-03-01        0.000411
5       LFT    2024-01-03   2026-09-01        0.000726
6       LFT    2024-01-03   2027-03-01        0.001206
7       LFT    2024-01-03   2027-09-01        0.001305
8       LFT    2024-01-03   2028-03-01        0.001374
9       LFT    2024-01-03   2028-09-01        0.001483
10      LFT    2024-01-03   2029-03-01        0.001606
11      LFT    2024-01-03   2029-09-01        0.001677
12      LTN    2024-01-03   2024-04-01        0.111034
13      LTN    2024-01-03   2024-07-01        0.106105
14      LTN    2024-01-03   2024-10-01        0.101534
15      LTN    2024-01-03   2025-01-01        0.098623
16      LTN    2024-01-03   2025-04-01        0.098665
17      LTN    2024-01-03   2025-07-01        0.097795
18      LTN    2024-01-03   2025-10-01        0.097528
19      LTN    2024-01-03   2026-01-01         0.09715
20      LTN    2024-01-03   2026-07-01        0.097955
21      LTN    2024-01-03   2027-07-01        0.099889
22    NTN-B    2024-01-03   2024-08-15        0.064763
23    NTN-B    2024-01-03   2025-05-15          0.0544
24    NTN-B    2024-01-03   2026-08-15        0.051766
25    NTN-B    2024-01-03   2027-05-15          0.0526
26    NTN-B    2024-01-03   2028-08-15         0.05227
27    NTN-B    2024-01-03   2030-08-15          0.0522
28    NTN-B    2024-01-03   2032-08-15        0.053212
29    NTN-B    2024-01-03   2033-05-15        0.053142
30    NTN-B    2024-01-03   2035-05-15         0.05348
31    NTN-B    2024-01-03   2040-08-15        0.053735
32    NTN-B    2024-01-03   2045-05-15        0.054804
33    NTN-B    2024-01-03   2050-08-15        0.054784
34    NTN-B    2024-01-03   2055-05-15          0.0548
35    NTN-B    2024-01-03   2060-08-15        0.054948
36    NTN-C    2024-01-03   2031-01-01        0.055269
37    NTN-F    2024-01-03   2025-01-01        0.098702
38    NTN-F    2024-01-03   2027-01-01        0.098851
39    NTN-F    2024-01-03   2029-01-01        0.101938
40    NTN-F    2024-01-03   2031-01-01        0.103929
41    NTN-F    2024-01-03   2033-01-01        0.104724

In [33]:
df.to_parquet("../anbima_data.parquet", index=False, compression="gzip")

In [11]:
df = pd.read_parquet("../di_data.parquet")
df

,TradeDate,ExpirationDate,TickerSymbol,BDaysToExp,OpenContracts,TradeCount,TradeVolume,FinancialVolume,DV01,OpenRate,MinRate,AvgRate,MaxRate,CloseRate,CloseBidRate,CloseAskRate,SettlementRate,SettlementPrice
0,1995-01-02,1995-02-01,DI1FEV5,22,185169,340,45045,2180001225,0.56255,0.44285,0.44285,0.45276,0.46003,0.45485,<NA>,<NA>,0.45721,96766.31
1,1995-01-02,1995-03-01,DI1MAR5,40,12145,21,1590,74621000,1.019868,0.49064,0.48964,0.49035,0.49264,0.49014,<NA>,<NA>,0.48974,93869.01
2,1995-01-02,1995-04-03,DI1ABR5,63,150,0,0,0,1.636827,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.45662,91025.65
3,1995-01-03,1995-02-01,DI1FEV5,21,193594,427,81175,3932939112,0.530598,0.4592,0.45559,0.45915,0.46463,0.45739,<NA>,<NA>,0.45949,96898.37
4,1995-01-03,1995-03-01,DI1MAR5,39,12295,96,13425,630682950,0.966267,0.49154,0.48643,0.49601,0.50184,0.49565,<NA>,<NA>,0.49665,93950.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215196,2025-01-10,2036-01-02,DI1F36,2747,21939,0,0,0,21.163527,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.14767,22281.63
215197,2025-01-10,2037-01-02,DI1F37,3000,5201,0,0,0,20.33947,<NA>,<NA>,<NA>,<NA>,<NA>,0.148,0.142,0.14674,19592.23
215198,2025-01-10,2038-01-04,DI1F38,3249,4642,0,0,0,19.432422,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.14592,17271.58
215199,2025-01-10,2039-01-03,DI1F39,3500,5731,0,0,0,18.035006,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.14695,14893.38
215200,2025-01-10,2040-01-02,DI1F40,3751,0,0,0,0,16.861145,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.14695,12992.27

In [ ]:
df.query("TradeDate == TradeDate.max()")
rdate = pd.Timestamp("2024-12-26")
df.query("TradeDate == @rdate")

In [ ]:
df_new = pd.read_parquet("...")
df = pd.concat([df, df_new]).drop_duplicates().reset_index(drop=True)[df.columns]
df

,TradeDate,ExpirationDate,TickerSymbol,BDaysToExp,OpenContracts,TradeCount,TradeVolume,FinancialVolume,DV01,OpenRate,MinRate,AvgRate,MaxRate,CloseRate,CloseBidRate,CloseAskRate,SettlementRate,SettlementPrice
0,1995-01-02,1995-02-01,DI1FEV5,22,185169,340,45045,2180001225,0.56255,0.44285,0.44285,0.45276,0.46003,0.45485,<NA>,<NA>,0.45721,96766.31
1,1995-01-02,1995-03-01,DI1MAR5,40,12145,21,1590,74621000,1.019868,0.49064,0.48964,0.49035,0.49264,0.49014,<NA>,<NA>,0.48974,93869.01
2,1995-01-02,1995-04-03,DI1ABR5,63,150,0,0,0,1.636827,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.45662,91025.65
3,1995-01-03,1995-02-01,DI1FEV5,21,193594,427,81175,3932939112,0.530598,0.4592,0.45559,0.45915,0.46463,0.45739,<NA>,<NA>,0.45949,96898.37
4,1995-01-03,1995-03-01,DI1MAR5,39,12295,96,13425,630682950,0.966267,0.49154,0.48643,0.49601,0.50184,0.49565,<NA>,<NA>,0.49665,93950.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373573,2025-03-11,2036-01-02,DI1F36,2707,21939,0,0,0,21.992907,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.14462,23434.53
373574,2025-03-11,2037-01-02,DI1F37,2960,5822,24,891,18305218,21.101835,0.1444,0.1442,0.14423,0.1444,0.1443,0.1447,0.1443,0.14418,20555.28
373575,2025-03-11,2038-01-04,DI1F38,3209,11171,12,2902,52806672,20.190457,0.1445,0.1425,0.14317,0.1445,0.1431,<NA>,<NA>,0.1435,18130.64
373576,2025-03-11,2039-01-03,DI1F39,3460,5931,0,0,0,18.796976,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0.14453,15668.94
373577,2025-03-11,2040-01-02,DI1F40,3711,2216,0,0,0,17.814113,<NA>,<NA>,<NA>,<NA>,<NA>,0.1442,<NA>,0.14375,13835.82

In [15]:
df.to_parquet("../di_data.parquet", index=False, compression="gzip")